body {
    background-color: #0E0B16;
}

.overlay {
    width: 100%;
    height: 100vh;
    display:block;
    position: absolute;
    z-index: 100;
    top: 0;
    text-align: center;
    opacity: 0.9;
    background-color: #A239CA; 
}

.innerBox {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
}

.welcome {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin-top: 4em;
}

p {
    color: white;
    line-height: 150px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    text-align: center;
    margin-top: -50px;
}

.gotIt {
    font-family: 'Playfair Display', serif;
    height: 1.5em;
    width: 8em;
    font-size: 2em;
    color: white;
    background-color: blue;
    border: blue;
    border-radius: 50px;
    z-index: 200;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

.selectContainer {
    text-align: center;
}

.addTimeZone {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

h4 {
    font-family: 'Playfair Display', serif;
    color: #4717F6;
    font-size: 1.5em;
    cursor: pointer;
}

.updatedTime {
    color: white;
    font-size: 1.25em;
    margin-top: 0.75em;
    padding-bottom: 1.5em;
}

.submitButton {
    font-family: 'Playfair Display', serif;
    background-color: white;
    height: 2em;
    width: 4em;
    border-radius: 15px;
    color: #0E0B16;
    margin-left: 10px;
}

.container,
.clockarea {
    text-align: center;
    margin: 0 auto;
}

select {
   font-family: 'Playfair Display', serif;
   background: white;
   width: 18em;
   padding: 5px;
   font-size: 1em;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 3em;
   -webkit-appearance: none;
}

.timeBlock > div {
    font-family: 'Playfair Display', serif;
    color: #E7DFDD;
}

.clockarea {  
    height: 300px;  
    width: 300px;  
    border-radius: 200px;  
    background: white;  
}  
  
.clock {  
    height: 300px;  
    width: 300px;
    border-radius: 200px; 
    background-color: white; 
}  
  
.clock:after {  
    position: absolute;  
    top: 50% ;  
    left: 50% ;  
    width: 12px;  
    height: 12px;  
    margin: -6px 0 6px;  
    background: #4717F6;  
    border-radius: 6px;  
    content: "";  
    display: block;  
}  
  
.hourhand {  
    width: 0;  
    height: 0;  
    position: relative;  
    top: 47%;  
    left: 50%;  
    margin: -4px 4px 0;  
    padding: 5px 5px 25% ;  
    background: #4717F6; 
    -webkit-transform-origin: 100% 50%; 
    -ms-transform-origin: 100% 50%;  
    transform-origin: top;  
    border-radius: 4px;  
}  
  
.minutehand  {  
    width: 0;  
    height: 0;  
    position: relative;  
    top: 50%;  
    left: 50%;  
    margin: -70% 2px 0;  
    padding: 40% 3px 0;  
    background: #4717F6; 
    -webkit-transform-origin: 50% 100%; 
    -ms-transform-origin: 50% 100%;  
    transform-origin: 50% 100%;  
    border-radius: 3px 3px 00;  
}  
  
.secondhand {  
    width: 0;  
    height: 0;  
    position: relative;  
    top: 50%;  
    left: 50%;  
    margin: -40% 5px 00;  
    padding: 40% 1px 0;  
    background: #A239CA; 
    -webkit-transform-origin: 50% 100%; 
    -ms-transform-origin: 50% 100% ;  
    transform-origin: 50% 100%;  
}  